
.textContainer {
    width: 608px;
    height: 177px;
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  
    & h4 {
      font-family: Lora, sans-serif;
      font-weight: 700;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: 0.5%;
      color: var(--secondary-color);
    }
  
    & h3 {
      font-family: Lora, sans-serif;
      font-weight: 700;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: 0.5%;
      color: #000;
    }
  }